# Association Rule for Store Dataset

## Load Data

In [61]:
import pandas as pd
import numpy as np
!pip install mlxtend
from mlxtend.frequent_patterns import apriori, association_rules
from sklearn.preprocessing import OneHotEncoder

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)

Load data dan tunjukan 5 row pertamanya

Dataset :
https://raw.githubusercontent.com/GTerrence/dataset/main/Groceries%20data.csv

In [64]:
# Read CSV
url="https://raw.githubusercontent.com/GTerrence/dataset/main/Groceries%20data.csv"
df= pd.read_csv(url , sep=',')
df.head(5)

   Member_number        Date   itemDescription  year  month  day  day_of_week
0           1808  2015-07-21    tropical fruit  2015      7   21            1
1           2552  2015-05-01        whole milk  2015      5    1            4
2           2300  2015-09-19         pip fruit  2015      9   19            5
3           1187  2015-12-12  other vegetables  2015     12   12            5
4           3037  2015-01-02        whole milk  2015      1    2            4

<h2> EDA

In [42]:
df.describe()

       Member_number          year         month           day   day_of_week
count   38765.000000  38765.000000  38765.000000  38765.000000  38765.000000
mean     3003.641868   2014.528518      6.477570     15.753231      3.014498
std      1153.611031      0.499193      3.431561      8.801391      1.987669
min      1000.000000   2014.000000      1.000000      1.000000      0.000000
25%      2002.000000   2014.000000      4.000000      8.000000      1.000000
50%      3005.000000   2015.000000      6.000000     16.000000      3.000000
75%      4007.000000   2015.000000      9.000000     23.000000      5.000000
max      5000.000000   2015.000000     12.000000     31.000000      6.000000

In [43]:
df.isnull().sum()

Member_number      0
Date               0
itemDescription    0
year               0
month              0
day                0
day_of_week        0
dtype: int64

In [65]:
df["member_date"] = df["Member_number"].astype(str) + df["Date"].astype(str)
df["member_date"]

0        18082015-07-21
1        25522015-05-01
2        23002015-09-19
3        11872015-12-12
4        30372015-01-02
              ...
38760    44712014-08-10
38761    20222014-02-23
38762    10972014-04-16
38763    15102014-03-12
38764    15212014-12-26
Name: member_date, Length: 38765, dtype: object

<h2> Data Preprocessing

Ubahlah dataset di atas menjadi bentuk one hot encoding. Asumsikanlah bahwa pembelian barang yang dilakukan oleh Customer ID yang sama dalam hari yang sama terjadi dalam 1 transaksi yang sama (satu Order ID)

In [91]:
df_group = df['member_date']+df['itemDescription']
df_group = pd.DataFrame(df_group,columns=['member_date','itemDescription'])
df_group

                                         0
0             18082015-07-21tropical fruit
1                 25522015-05-01whole milk
2                  23002015-09-19pip fruit
3           11872015-12-12other vegetables
4                 30372015-01-02whole milk
...                                    ...
38760          44712014-08-10sliced cheese
38761                  20222014-02-23candy
38762               10972014-04-16cake bar
38763  15102014-03-12fruit/vegetable juice
38764               15212014-12-26cat food

[38765 rows x 1 columns]

In [99]:
df_group = df.groupby(['member_date', 'itemDescription'])['itemDescription'].count().unstack().fillna(0)
df_group

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
member_date,,,,,,,,,,,,,,,,,,,,,
10002014-06-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10002015-03-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
10002015-05-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10002015-07-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10002015-11-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49992015-05-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
49992015-12-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50002014-09-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50002014-11-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50002015-10-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [100]:
def change_value(encode):
  if encode >= 1 :
    return 1
  else: 
    return 0

df_group = df_group.applymap(change_value)
df_group

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
member_date,,,,,,,,,,,,,,,,,,,,,
10002014-06-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10002015-03-15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
10002015-05-27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10002015-07-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10002015-11-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49992015-05-16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
49992015-12-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50002014-09-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50002014-11-16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50002015-10-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [87]:
df_group.head(5)

,Member_number,Date,itemDescription,year,month,day,day_of_week,member_date
0,1808,2015-07-21,tropical fruit,2015,7,21,1,18082015-07-21
1,2552,2015-05-01,whole milk,2015,5,1,4,25522015-05-01
2,2300,2015-09-19,pip fruit,2015,9,19,5,23002015-09-19
3,1187,2015-12-12,other vegetables,2015,12,12,5,11872015-12-12
4,3037,2015-01-02,whole milk,2015,1,2,4,30372015-01-02
...,...,...,...,...,...,...,...,...
38760,4471,2014-08-10,sliced cheese,2014,8,10,6,44712014-08-10
38761,2022,2014-02-23,candy,2014,2,23,6,20222014-02-23
38762,1097,2014-04-16,cake bar,2014,4,16,2,10972014-04-16
38763,1510,2014-03-12,fruit/vegetable juice,2014,3,12,2,15102014-03-12
38764,1521,2014-12-26,cat food,2014,12,26,4,15212014-12-26

Warning: total number of rows (38765) exceeds max_rows (20000). Limiting to first (20000) rows.

In [55]:
df_group.head(5)

,Member_number,Date,itemDescription,year,month,day,day_of_week,member_date
0,1808,2015-07-21,tropical fruit,2015,7,21,1,18082015-07-21
1,2552,2015-05-01,whole milk,2015,5,1,4,25522015-05-01
2,2300,2015-09-19,pip fruit,2015,9,19,5,23002015-09-19
3,1187,2015-12-12,other vegetables,2015,12,12,5,11872015-12-12
4,3037,2015-01-02,whole milk,2015,1,2,4,30372015-01-02
...,...,...,...,...,...,...,...,...
38760,4471,2014-08-10,sliced cheese,2014,8,10,6,44712014-08-10
38761,2022,2014-02-23,candy,2014,2,23,6,20222014-02-23
38762,1097,2014-04-16,cake bar,2014,4,16,2,10972014-04-16
38763,1510,2014-03-12,fruit/vegetable juice,2014,3,12,2,15102014-03-12
38764,1521,2014-12-26,cat food,2014,12,26,4,15212014-12-26

In [22]:
items = set()
items=df['itemDescription'].unique()
print(list(items))

['tropical fruit', 'whole milk', 'pip fruit', 'other vegetables', 'rolls/buns', 'pot plants', 'citrus fruit', 'beef', 'frankfurter', 'chicken', 'butter', 'fruit/vegetable juice', 'packaged fruit/vegetables', 'chocolate', 'specialty bar', 'butter milk', 'bottled water', 'yogurt', 'sausage', 'brown bread', 'hamburger meat', 'root vegetables', 'pork', 'pastry', 'canned beer', 'berries', 'coffee', 'misc. beverages', 'ham', 'turkey', 'curd cheese', 'red/blush wine', 'frozen potato products', 'flour', 'sugar', 'frozen meals', 'herbs', 'soda', 'detergent', 'grapes', 'processed cheese', 'fish', 'sparkling wine', 'newspapers', 'curd', 'pasta', 'popcorn', 'finished products', 'beverages', 'bottled beer', 'dessert', 'dog food', 'specialty chocolate', 'condensed milk', 'cleaner', 'white wine', 'meat', 'ice cream', 'hard cheese', 'cream cheese ', 'liquor', 'pickled vegetables', 'liquor (appetizer)', 'UHT-milk', 'candy', 'onions', 'hair spray', 'photo/film', 'domestic eggs', 'margarine', 'shopping bags', 'salt', 'oil', 'whipped/sour cream', 'frozen vegetables', 'sliced cheese', 'dish cleaner', 'baking powder', 'specialty cheese', 'salty snack', 'Instant food products', 'pet care', 'white bread', 'female sanitary products', 'cling film/bags', 'soap', 'frozen chicken', 'house keeping products', 'spread cheese', 'decalcifier', 'frozen dessert', 'vinegar', 'nuts/prunes', 'potato products', 'frozen fish', 'hygiene articles', 'artif. sweetener', 'light bulbs', 'canned vegetables', 'chewing gum', 'canned fish', 'cookware', 'semi-finished bread', 'cat food', 'bathroom cleaner', 'prosecco', 'liver loaf', 'zwieback', 'canned fruit', 'frozen fruits', 'brandy', 'baby cosmetics', 'spices', 'napkins', 'waffles', 'sauces', 'rum', 'chocolate marshmallow', 'long life bakery product', 'bags', 'sweet spreads', 'soups', 'mustard', 'specialty fat', 'instant coffee', 'snack products', 'organic sausage', 'soft cheese', 'mayonnaise', 'dental care', 'roll products ', 'kitchen towels', 'flower soil/fertilizer', 'cereals', 'meat spreads', 'dishes', 'male cosmetics', 'candles', 'whisky', 'tidbits', 'cooking chocolate', 'seasonal products', 'liqueur', 'abrasive cleaner', 'syrup', 'ketchup', 'cream', 'skin care', 'rubbing alcohol', 'nut snack', 'cocoa drinks', 'softener', 'organic products', 'cake bar', 'honey', 'jam', 'kitchen utensil', 'flower (seeds)', 'rice', 'tea', 'salad dressing', 'specialty vegetables', 'pudding powder', 'ready soups', 'make up remover', 'toilet cleaner', 'preservation products']

## Apriori Algorithm

Gunakanlah algroitma apriori untuk mencari tahu produk mana yang sering dibeli secara bersama-sama (min support = 0.01)

In [101]:
from mlxtend.frequent_patterns import apriori, association_rules
freq_items = apriori(df_group,use_colnames=True, min_support=0.01)
freq_items.head(7)

    support         itemsets
0  0.021386       (UHT-milk)
1  0.033950           (beef)
2  0.021787        (berries)
3  0.016574      (beverages)
4  0.045312   (bottled beer)
5  0.060683  (bottled water)
6  0.037626    (brown bread)

Berdasarkan hasil di atas, buatlah association rules nya dengan syarat min confidence = 0.1

In [102]:
rules = association_rules(freq_items, metric="confidence", min_threshold=0.1)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(other vegetables),(whole milk),0.122101,0.157923,0.014837,0.121511,0.769430,-0.004446,0.958551
1,(rolls/buns),(whole milk),0.110005,0.157923,0.013968,0.126974,0.804028,-0.003404,0.964550
2,(soda),(whole milk),0.097106,0.157923,0.011629,0.119752,0.758296,-0.003707,0.956636
3,(yogurt),(whole milk),0.085879,0.157923,0.011161,0.129961,0.822940,-0.002401,0.967861